body {
  font-family: "Zilla Slab", serif;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8d2VhdGhlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-family: "Kiwi Maru", serif;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}

footer {
  margin: 5px 10px;
  color: white;
  font-weight: 200;
  font-size: 14px;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: blue;
}

li {
  list-style: none;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
.App {
  max-width: 900px;
  margin: 60px auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.Weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 20px;
}

.temperature-container {
  text-align: right;
}
.temperature-container #description:first-letter {
  text-transform: capitalize;
}
.temperature-container #description {
  font-size: 20px;
  text-align: left;
}
.temperature-container img {
  height: 100px;
  width: 100px;
  background-size: cover;
}
.temperature-container strong {
  font-size: 60px;
  line-height: 1;
}
.temperature-container .units {
  font-size: 16px;
  position: relative;
  top: -24px;
}

.Weather .row {
  margin-block-end: 10px;
}
.temperature-container .active {
  color: #212529;
  cursor: default;
  text-decoration: none;
}
.temperature-container .active:hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
}
.weather-forecast img {
  width: 50px;
}
.weather-forecast-temp-max {
  font-weight: bolder;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
