body {
  font-family: "Zilla Slab", serif;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  background-color: pink;
}
h1 {
  font-family: "Kiwi Maru", serif;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
footer {
  margin: 5px 10px;
  color: grey;
  font-weight: 200;
  font-size: 14px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.App {
  max-width: 900px;
  margin: 60px auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.Weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 20px;
}
.temperature-container {
  text-align: right;
}
.temperature-container img {
  margin: 5px 5px;
  height: 100px;
  width: 100px;
}
.temperature-container strong {
  font-size: 60px;
  line-height: 1;
}
.temperature-container.units {
  position: relative;
  font-size: 16px;
  top: -100px;
}
